body{
    font-family: 'PT Sans', sans-serif;
}
.axis text {
    font: 10px sans-serif;
}

.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.axis path {
    fill: none;
    stroke: #FFF;
    shape-rendering: crispEdges;
}

#ageVis > svg > g > g > g > line {
  stroke: #FFF;
}

.boundingBox{
    cursor: pointer;
    fill: grey;
    fill-opacity: .3;
    pointer-events: all;
}

.brush{
    fill: darkgrey;
    fill-opacity: .5;
    pointer-events: none;
}

.brush .extent {
  stroke: #fff;
  fill-opacity: .125;
  shape-rendering: crispEdges;
}

.area {
  fill: black;
}

.circle {
 stroke-width: 1;
 fill: none
}

.circle_label {
  font: 10px sans-serif;
  text-anchor: middle;
}


.vis_label {
  font: 12px sans-serif;
  font-weight:  300;
  text-anchor: left;
  fill: black;
  text-decoration: underline;
}


#countVis {
  margin-top: 20px;
}

#agevis {
  margin-top: 0px;
  margin-bottom: -30px;
  margin-left: 45px;
}

#prioVis {
  margin-top: 30px;
}

.brush_label {
  font: 10px sans-serif;
  text-anchor: middle;
  fill: grey;
}
